.autoComplete {
    position: absolute;
    top: 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(167, 130, 168);
    background: white;
}

section.invisible {
    display: none;
}

.detailsBin{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    z-index: 100;
    background: white;
    border-bottom: 1px solid rgb(78, 60, 82);
}

.detailsBin:last-child{
    border-bottom: none;
}

.detailsBin:hover{
    background: rgb(78, 60, 82);
    color: white;
    cursor: pointer;
}