
form.wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    position: relative;
    margin: 30px 0;
}

div {
    display: flex;
    justify-content: space-between;
}



input[type="search"] {
    padding: 10px;
    border: 2px solid transparent;
    color: rgb(78, 60, 82);
    background: white;
    z-index: 300;
}

input[type="search"]:focus {
    border: 2px solid rgb(78, 60, 82);
}

/* .buttonDetails {
    margin-bottom: 30px;
} */

.buttonDetails button {
    font-size: 2rem;

    font-weight: 900;
}

@media (max-width: 768px) {
    form.wrapper {
        width: 90%;
    }
}